<!DOCTYPE html>
<html>
  <head>
    <title> Registrar's Office Class Details </title>
  </head>
  <body>
    <h1> Registrar's Office </h1>
    {{ errorMessage }}
    % include('footer.tpl')
  </body>
</html>
