<form action="" method="get">
 <table>
  <tr>
  <td align="left">Dept:</td>
  <td align="right"><input type="name" name="dept" value={{ dept }}></td>
  </tr>
  <tr>
  <td align="left">Course Num:</td>
  <td align="right"> <input type="name" name="coursenum" value={{ coursenum }}></td>
</tr>
  <tr>
  <td align="left">Area:</td>
  <td align="right"><input type="name" name="area" value={{ area }}></td>
</tr>
<tr>
  <td align="left">Title:</td>
  <td align="right"><input type="name" name="title" value={{ title }}></td>
</tr>
  <tr>
  <td align="left"></td>
  <td align="left"><input type="submit" value="Submit"></td>
</tr>
</table>
</form>
